// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #333 !default;
$header-bg-color-secondary: #444 !default;

// Text
$section-headings-color: #ddd !default;
$body-text-color: #ccc !default;
$body-link-color: #1e90ff !default;
$blockquote-text-color: #aaa !default;

// Code
$code-bg-color: #2d2d2d !default;
$code-text-color: #f8f8f2 !default;

// Borders
$border-color: #555 !default;
$table-border-color: #666 !default;
$hr-border-color: #777 !default;
